.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	overflow: hidden;
}
.dynamic-tab-pane-control .tab-row .tab {
	width:auto;
	height:auto;	
	position:		relative;
	top:			0;
	display:		inline;
	float:			left;
	overflow:		hidden;
	cursor:			default;
	margin:			1px -1px 1px 2px;
	padding:		2px 0px 0px 0px;
	border:			0;
	white-space:	nowrap;
	color:#666666;	
	border-left:1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	background-color:#f4f4f4;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	border-radius: 6px 6px 0px 0px;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
	width:auto;
	height:auto;	
	background-color:#FFFFFF;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 2px solid #cccccc;
	border-bottom: 1px solid #FFFFFF;		
	padding:		2px 0 0px 0;
	margin:			1px -3px -3px 0px;
	top:			-2px;
	font-size:12px;
	text-align:center;
	color:#999999;
	
}
.dynamic-tab-pane-control .tab-row .tab a{	
	cursor:	pointer;
	font-size:12px;
	text-align:center;
	color:#999999;
	text-decoration:none;	
}
.dynamic-tab-pane-control .tab-row .tab.hover {
	width:auto;
	height:auto;	
	font-size:12px;
	text-align:center;
	color:#E6F3FF;
	background-color:#FBFFFF;
}
.dynamic-tab-pane-control .tab-page {
	width:auto;
	clear:			both;
	border:			1px solid #cccccc;
	background:		#FFFFFF;
	position:		relative;
	top:			-2px;	
	padding:		10px;
}
 
.dynamic-tab-pane-control .tab-row {
	white-space:	nowrap;
}
