.icon-ficha{
    background-image: url(../../image/menu/icon-ficha.png);
}

.icon-proveedor{
    background-image: url(../../image/menu/icon-proveedor.png);
}

.icon-beneficiario{
    background-image: url(../../image/menu/icon-beneficiario.png);
}