.icon-proveedor-beneficiario, .icon-proveedor-beneficiario_16x16{
  background-image: url(../../image/icon/icon-proveedor-beneficiario_16x16.png);
  background-repeat: no-repeat;
  background-position: center;
}
